# don't ever lint node_modules
node_modules

# next.js
out
.next

# https://prettier.io/docs/en/install.html
# Another tip! If your project isn’t ready to format, say, HTML files yet, add *.html.
*.html